*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 15px;
}

.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.data_fiels{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color: beige;
}

.data_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    color: rgb(168, 95, 0);
}